.workspaceCard {
    background-color: #f8f8f8;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 150px;
    
    font-family: Arial, sans-serif;
    cursor: pointer;
  }

.workspaceCard:has(.moreButton:active){
  transform: scale(1);
}

  .workspaceHeaderInner{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }

  .workspaceCard:hover {
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(204, 204, 204, 0.1);
    font-family: Arial, sans-serif;
    cursor: pointer;
  }

  .workspaceCard:active {
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(0.9);
    font-family: Arial, sans-serif;
    cursor: pointer;
  }

  .moreButton{
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    margin: -8px -8px -8px 8px;
    color: #757575;
    display: flex;
    align-items: center;
  }

  .moreButton:hover{
    cursor: pointer;
    color:#313131
  }



  .projectCardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .projectName {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .description {
    font-size: 1em;
    margin: 8px 0;
  }

  .header{
    height: 6rem;
  }

  
  .owner {
    font-size: 0.9em;
    color: #666;
  }
  
