.register {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vmin;
    background: linear-gradient(90deg, #CDF3F5, #448386);
}

.heading2 {
    text-align: 'center';
    color: '#323232';
    font-size: 2rem;
    font-weight: bold;
}

.registerFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    height: 31rem;
    background-color: #F9F6F2;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding-top: 2rem;

}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25rem;
    height: 4rem;
    margin-bottom: 10px;
    padding: 10;
}

.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 17rem;
    padding: 10;
}

.box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25rem;
    height: 5rem;
    margin: 10px;
    padding-top: 10px;
}

.rowBox {
    display: flex;
    flex-direction: row;
    width: 15.3rem;
    justify-content: space-between;
}



.line {
    background: linear-gradient(90deg, #CDF3F5, #448386);
    height: 0.1rem;
    width: 19rem;
}

.gradient-line {
    width: 1;
    height: 30rem;
}
.hyperText{
    color: #448386;
}

.hyperText:hover{
    color: #384638;
}
