.passwordField {
    width: 100%;

}

.passwordField :global(.MuiOutlinedInput-root) {
    border-radius: 8px;
}

.passwordField :global(.MuiOutlinedInput-root:hover fieldset) {
    border-color: #1976d2;
}

.passwordField :global(.MuiInputLabel-root.Mui-focused) {
    color: #1976d2;
}