.App {
  /* max-width: ; */
  margin: 0 auto;
/* padding: 20px; */

}

.App-header {
  margin-bottom: 10rem;
  padding: 1rem;
  background-color: var(--primary-color);
  color: rgb(199, 15, 15);
  border-radius: 8px;
}

.App-content {
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}